* {
	box-sizing: border-box;
}
p {
	border: 1px solid black;
	background-color: #AAAAAA;	
	float: left;
	position: relative;
}
/* --------------------------------------------------
-- Large devices: for example a laptop
---------------------------------------------------*/
@media (min-width: 992px) {
	p {
		width: 33%;
	}
}
/* --------------------------------------------------
-- Medium devices: for example a tablet
---------------------------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {
	#p1, #p2 {
		width: 50%;
	}

	#p3 {
		width: 100%;
	}
}

/* --------------------------------------------------
-- Small devices: for example a mobile phone
---------------------------------------------------*/
@media (max-width: 767px) {
	p {
		width: 100%;
	}
}
